<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864011699942-uv01mi37pmedfsek3l7frfmethmflc0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864011699942-uv01mi37pmedfsek3l7frfmethmflc0a</string>
	<key>API_KEY</key>
	<string>AIzaSyA74m7A5vkKjf4fBzbnhuoZi3MbPjQ3oHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>864011699942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.friendlyitsolution.scannerApp</string>
	<key>PROJECT_ID</key>
	<string>hospital-management-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hospital-management-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864011699942:ios:e91f56d3b015e01786dd27</string>
</dict>
</plist>